<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571460887304-33mcr95sso5n2jjfje5i93gtm639odq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571460887304-33mcr95sso5n2jjfje5i93gtm639odq4</string>
	<key>API_KEY</key>
	<string>AIzaSyBLSeuHCkrzEWOOYaziHSOg-bnrx64PIKc</string>
	<key>GCM_SENDER_ID</key>
	<string>571460887304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorAppointmentApp</string>
	<key>PROJECT_ID</key>
	<string>estudy-376aa</string>
	<key>STORAGE_BUCKET</key>
	<string>estudy-376aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571460887304:ios:8479313f75e5ba9e6442bd</string>
	<key>DATABASE_URL</key>
	<string>https://estudy-376aa-default-rtdb.firebaseio.com</string>
</dict>
</plist>